@page "/Getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-2">
        Contact
        <div class="lead">
            <i class="fa fa-phone text-primary my-3"></i>
            <p>orkun özdemir +90 999 999 99 99</p>

            <i class="fa fa-address-book text-primary my-3"></i>
            <p>
                orkun özdemir iletişim için lokasyon Ankara/Çankaya
            </p>
            <i class="fa fa-envelope text-primary my-3"></i>
            <p>
                <span>example@gmail.com</span> 
            </p>



        </div>
    </div>
</div>
